NEXT_PUBLIC_SUPABASE_URL=https://omzegekvfwxgpxlzmixj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_fD1CDoc3Xn1h0WpmqSVK7Q_JM2Yg4kk
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2bgP2KzIgCZ0L5oeAt5B-w_3VUj5b2W
NEXT_PUBLIC_SUPABASE_JWKS_URL=https://omzegekvfwxgpxlzmixj.supabase.co/auth/v1/.well-known/jwks.json
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
